* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

:root {
  --clr-green: #155e64;
  --clr-green-bright: #155d64de;
  --clr-red: #860a35;
  --clr-cream: #f2f9f5;
  --space8: 8px;
  --space16: 16px;
  --space24: 24px;
  --space32: 32px;
  --space40: 40px;
  --space48: 48px;
  --space56: 56px;
}

body {
  overflow-x: hidden;
  direction: rtl;
  background: var(--clr-cream);
}

/* icon nagishLi design*/
#NagishLiTrigger {
  bottom: 20px;
  /* top:10px; */
  right: initial;
  left: 5px;
  transform: scale(0.7, 0.7);
  filter: grayscale(100%);
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: var(--clr-cream);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* border: solid 1px rgb(255, 255, 255); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-green);
  border-radius: 10px;
  border: solid 1px var(--clr-cream);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-green-bright);
}
